{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "semi": "error",
    "indent": [
      "error",
      2
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ]
  }
}